body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ECF2FF;
}

.card {
 display: flex;
 width: 600px;
 border-radius: 20px;
 overflow: hidden;
 background: #FFFFFF;
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.result {
    flex: 1;
    padding: 30px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #6441FD, #352FEB);
}

.summary {
    flex: 1;
    padding: 30px;
}

.result-circle{
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #4B25CF, #4734EE);
}

.your-result{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
}

.score{
    font-size: 48px;
    font-weight: bold;
}

.percentage{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.great-heading{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.score-breakdown{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
}

.reaction-row, .memory-row, .verbal-row, .visual-row{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #FFFFFF;
}

.icon-and-text{
    display: flex;
    align-items: center;
    gap: 8px;
}

.reaction{
    color: #E9828F;
}

.memory{
    color: #DDB357;
}

.verbal{
    color: #269A77;
}

.visual{
    color: #373AB4;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: #303B59;
    color: #FFFFFF;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

button:hover{
    transform: translateY(-2px);
    transition: ease-in-out 0.3s;
    opacity: 0.9;
}

@media (max-width: 600px){
    .card{
        flex-direction: column;
        width: 90%;
        overflow: visible;
    }
    .result{
        padding: 20px;
        border-radius: 20px;

    }
    .summary{
        padding: 20px;
    }
    .summary-heading{
        font-size: 14px;
    }


}